
.dropdown-container {
    position: relative;
    display: inline-block;
    padding-top: 1rem ;
}

.dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    cursor: pointer;
    border: 1px solid #C2C2C2 ;
    width: 6rem;
    border-radius: 0.325rem;
    color: #ADADAD;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    cursor: pointer;
    color: #ADADAD;
}

li:hover {
    background-color: #f0f0f0;
}