.authentication {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.authentication-form {
    width: 62.35vw;
    display: block;
    padding: 7rem 12rem;
}

.authentication-form>h1 {
    color: #000;
    font-family: DM Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 144.023%;
}

.authentication-form>p {
    color: #525252;
    font-family: DM Sans;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 144.023%;
}

.authentication-img-div>img {
    width: 37.65vw;
    height: 100vh;
    flex-shrink: 0;
    object-fit: cover;
}

.img-div-h2 {
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 144.023%;
    z-index: 10;
    position: absolute;
    top: 3rem;
    right: 5%;
}

.input {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.325rem;
    border: 2px solid #C2C2C2;
    outline: none;
}

.checkbox {
    padding-top: 1rem;
    color: #525252;
    font-family: DM Sans;
    font-size: 1.05325rem;
    font-style: normal;
    font-weight: 400;
    line-height: 139.688%;
    letter-spacing: 0.02106rem;
}

.auth-btn {
    background-color: #ED5353;
    border: none;
    color: white;
    margin-top: 1rem;
    width: 15.3125rem;
    height: 3.519rem;
    border-radius: 0.325rem;
    flex-shrink: 0;
    font-size: 1.6rem;
}

.toggle {
    color: #525252;
    padding-top: 1rem;
    font-family: DM Sans;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 144.023%;
}

/* span{
    padding: 1rem 0;
} */